.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: auto;
    margin: 150px 0 0 0px;



}

.first-bloc1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.img-firs-block {
    max-height: 500px;
}

.first-block>p {
    max-width: 500px;
    text-align: start;
    padding: 50px 0 50px 0;
    /* font-family: 'Courier Prime', monospace;
    color: var(--text-color); */
}


.first-block>h2 {

    animation-name: example;
    animation-duration: 6s;

}

.first-block>h1 {
    animation-name: example1;
    animation-delay: 2s;


    animation-duration: 6s;

}


@keyframes example {
    0% {
        color: transparent;
    }


    100% {
        color: var(--primary-color);
    }
}


@keyframes example1 {
    0% {
        color: transparent;
        display: none;
    }


    100% {

        color: var(--primary-color);
        display: block;
    }
}


@media (min-width: 900px) {
    .first-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: center;
        width: 70%;
        height: 80vh;
        margin: 150px 0 0 0px;



    }

    .first-bloc1 {
        display: flex;
        width: 50%;
    }
}

@media (min-width: 1550px) {
    .galery1 {

        display: grid;
        justify-content: center;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 40px;

    }
}