.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: auto;
    margin: 150px 0 0px 0px;

}


/* -----------------------------buble efect--------------------- */


.container .first-block #buble {
    color: var(--primary-color);
    font-size: 50px;
    line-height: 50px;
    cursor: default;
    top: 0;
    text-transform: uppercase;
}

.container .first-block .hovered {
    color: var(--nav_hover_color);
    font-family: var(--font-family-Extrabold);
    font-weight: 900;
    font-size: 55px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    top: -5px;
}

.container .first-block .hovered-adjacent {
    color: var(--nav_hover_color2);
    font-family: var(--font-family-medium);
    font-size: 52px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    top: -2px;
}



.container .first-block #buble small {

    font-family: var(--font-family-bold);

}

.container .first-block #buble small:hover {}


.container .first-block .hovered-adjacent2 {
    color: var(--nav_hover_color3);
    font-weight: bold;
    font-family: var(--font-family-Light);
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
}

/* -----------------------------buble efect--------------------- */

.first-block p {
    margin: 0px;
    padding: 0px;
    font-size: 20px;


}



.first-block p:hover {
    font-weight: bold;
    background: conic-gradient(rgb(254, 78, 0), rgb(156, 13, 56), #292F36, rgb(254, 78, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 2000px 2000px;
    animation: rgb 5s infinite linear;
    -webkit-animation: rgb 5s infinite linear;
}


@keyframes rgb {

    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 0 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }

}


.first-bloc1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.img-firs-block {
    max-height: 500px;
}

.first-block>p {
    max-width: 500px;
    text-align: start;
    padding: 50px 0 50px 0;
    /* font-family: 'Courier Prime', monospace;
    color: var(--text-color); */
}


.first-block>h2 {

    animation-name: example;
    animation-duration: 6s;

}

.first-block>h1 {
    animation-name: example1;
    animation-delay: 2s;


    animation-duration: 6s;

}


@keyframes example {
    0% {
        color: transparent;
    }


    100% {
        color: var(--primary-color);
    }
}


@keyframes example1 {
    0% {
        color: transparent;
        display: none;
    }


    100% {

        color: var(--primary-color);
        display: block;
    }
}


@media (min-width: 900px) {
    .first-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: center;
        width: 70%;
        height: 80vh;
        margin: 150px 0 0 0px;



    }

    .first-bloc1 {
        display: flex;
        width: 50%;
    }
}

@media (min-width: 1550px) {
    .galery1 {

        display: grid;
        justify-content: center;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 40px;

    }
}