@import './variables.css';
@import './header.css';
@import './buttons.css';
@import './first-block.css';
@import './portfolio.css';
@import '../content/Gallery/css/demo.css';
@import '../content/Gallery/css/style.css';
@import '../content/Gallery/js/gallery.js';
@import '../content/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css';
@import '../content/ikons/css/animations.css';
@import '../content/ikons/css/boxicons.css';
@import '../content/ikons/css/boxicons.min.css';
@import '../content/ikons/css/transformations.css';
@import '../CSS/ofers.css';
@import '../CSS/social_ikons.css';
@import '../CSS/sidebar.css';
@import '../CSS/mobile_meniu.css';
@import '../CSS/input_form.css';



body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: var(--background_color);
    /* color: black; */
}



.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-image: url(../content/logo.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-size: 70vh;
    /* overflow-x: hidden; */
}

.main-class {
    text-decoration: none;
    position: relative;
}

.youtube-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube {
    width: 50%;
    aspect-ratio: 16/9;
}

.logo {
    max-height: 50px;
    margin: 20px 0 0 0px;
}

p {
    color: var(--text-color-mobile);
    margin-left: 20px;
    font-family: 'CabinetGrotesk-Regular';
    color: var(--text-color);
    max-width: 600px;
    text-align: start;
}

h1 {
    color: var(--primary-color);
    font-size: 50px;
    font-family: 'CabinetGrotesk-Black';
    padding: 50px 0 50px 0;
    line-height: 50px;
}

h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 10px 0;
}

h3 {
    color: var(--primary-color);
    font-size: 30px;
    padding: 50px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0 20px 20px;
    color: var(--text-color2);
    /* margin: 0; */
    font-family: 'Montserrat', sans-serif;
}