@import './variables.css';
@import './buttons.css';
@import './first-block.css';
@import './portfolio.css';
@import './ofers.css';
@import './social-ikons.css';
@import './sidebar.css';
@import './mobile-meniu.css';
@import './input-form.css';
@import './planing.css';
@import './gallery.css';
@import '../content/Gallery/css/demo.css';
@import '../content/Gallery/css/style.css';
@import '../content/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css';
@import '../content/ikons/css/animations.css';
@import '../content/ikons/css/boxicons.css';
@import '../content/ikons/css/boxicons.min.css';
@import '../content/ikons/css/transformations.css';




body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: var(--background_color);
    /* color: black; */
}



.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-image: url(../content/logo.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-size: 70vh;
    /* overflow-x: hidden; */
}

.main-class {
    text-decoration: none;
    position: relative;
}

.youtube-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube {
    width: 50%;
    aspect-ratio: 16/9;
}

.logo {
    max-height: 50px;
    margin: 20px 0 0 0px;
}

p {
    color: var(--text-color-mobile);
    margin-left: 20px;
    font-family: 'CabinetGrotesk-Regular';
    color: var(--text-color);
    max-width: 600px;
    text-align: start;
}

h1 {
    color: var(--primary-color);
    font-size: 50px;
    font-family: 'CabinetGrotesk-Black';
    padding: 50px 0 50px 0;
    line-height: 50px;
}

h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-family: 'CabinetGrotesk-Black';
}

h5 {
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'CabinetGrotesk-Black';
    padding: 0 0 10px 0;
}

h3 {
    color: var(--primary-color);
    font-size: 30px;
    padding: 50px 0 30px 0;
    font-family: 'CabinetGrotesk-Black';
}

h4 {
    color: var(--background_color_meniu);
    font-size: 30px;
    padding: 50px 0 30px 0;
    font-family: 'CabinetGrotesk-Black';
}

h6 {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0 20px 20px;
    color: var(--primary-color);
    /* margin: 0; */
    font-family: 'CabinetGrotesk-Black';
}

.btn {
    background-color: var(--background_color_meniu);
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: solid 3px transparent;
}

.btn:hover {

    border: solid var(--nav_hover_color) 3px;
    box-shadow: 0px 0px 10px var(--nav_hover_color);
}

.gap_nav {
    width: 100%;
    height: 50px;
}

@media (min-width: 900px) {

    .gap_nav {
        width: 100%;
        height: 0px;
    }
}