:root {

    --primary-color: rgb(156, 13, 56);
    --text-color: rgb(117, 117, 117);
    --text-color2: rgb(0, 0, 0);
    --text-color-mobile: rgb(177, 177, 177);
    --ux-design: 90%;
    --border-box: rgb(227, 226, 226);
    --shadow-color: #a24250;
    --background_color: transparent;
    --background_color_meniu: #292F36;
    --nav_hover_color: rgb(254, 78, 0);
    --nav_background_color: rgb(167, 134, 130, 0.1);


}

html {
    scroll-behavior: smooth;
}

span {
    color: #ffffff;

}